body {
  background-color: #EAEAEA;
}

.ui.fixed.menu {
  background: linear-gradient(138deg, rgba(34,51,193,1) 0%, rgba(18,38,69,1) 20%, rgba(96,193,233,1) 91%);
}

.ui.main.container {
  margin-top: 10em;
}

